<main class="show-container">
  <h1 class="showH1 title columns is-centered"><%= name %></h1>
  <div class="columns is-multiline is-centered">
    <div class="column is-6">
      <img class="show-image" src="<%= image %>"/>
    </div>
    <div class="column is-6">
      <h2>Track Details</h2>
      <p>Lap Length:
        <%= lapLength %>
      </p>
      <p>Number Of Corners:
        <%= numberOfCorners %>
      </p>
      <p>Fastest Lap Time:
        <%= fastestLap %>
      </p>
    </div>
    <div>
      <h2>Flying Lap</h2>
      <iframe width="420" height="315"src="<%= video %>">
      </iframe>
    </div>
  </div>

  <% if(locals.isLoggedIn){ %>
    <a href="/circuits/<%= _id %>/edit">EDIT</a>
    <form action="/circuits/<%= _id %>?_method=DELETE" method="post">
      <button class="button">Delete</button>
    </form>

    <div>
      <% comments.forEach(comment => { %>
        <div>
          <span><%= comment.username %></span>
          <span><%= comment.content %></span>
          <form class="delete-comment-button" method="POST" action="/circuits/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
            <button class="delete-comment-button">Delete comment</button>
          </form>
        </div>
        <% }) %>
    </div>

    <div>
      <form method="POST" action="/circuits/<%= _id %>/comments">
        <textarea name="content"></textarea>
        <input name="username" type="hidden" value="<%= locals.currentUser.username %>"/>
        <button>Comment on this post</button>
      </form>
    </div>
  <% } %>

</main>
